fastapi
uvicorn[standard]
nicegui
agno
python-dotenv
aiohttp
pydantic
pytest
pytest-asyncio
pytest-check
httpx
pypdf2
google-generativeai
openai
fastembed
sentence-transformers
psycopg2-binary
sqlalchemy
asyncpg
aiosqlite
lancedb